{% extends 'applications/template.html' %}

{% block content %}

<p></p>
<br>
<br>

<div class="container">
  <h2>Что такое лид?</h2>
  <p>Лид — это заявка покупателя, заинтересованного вашими товарами или услугами. Заявки поступают на сайт,
    электронную почту, по телефону. Заявку важно быстро и качественно обработать. Свяжитесь с клиентом,
    обработайте запрос и заключите сделку. Сложно? — Да! От ваших продавцов и их личностных качеств зависит
    многое.</p>
  <h2>Схема лидогенерации</h2>
  <ul>
    <li>Мы изобразили процесс лидогенерации и продаж, а также ответственность заказчика и агентства на схеме.
      Конструктивный диалог — залог успеха.</p>
    </li>
    <li>
      <p>Мы с удовольствием поможем в достижении ваших стратегических целей.</p>
    </li>
    <li>
      <p>Привлечение лидов одна из задач контекстной рекламы.</p>
    </li>
    <li>
      <p>Контекстная реклама в поисковых системах позволяет быстро и просто найти потенциальных клиентов в
        интернете и привлечь аудиторию.</p>
    </li>
  </ul>
</div>

<br>
<div class=" container">
  <div class="jumbotron">
    <div class="card-body">

      <h1>Ручная проверка лидов</h1>
      <br>
      <p>Каждый лид, добавленный в нашу систему проходит проверку нашими модераторами - Вы получаете "отфильтрованные" запросы потенциальных клиентов.</p>
      <br>
      <hr>
      <br>
      <h1>Детальные параметры лидов</h1>
      <br>
      <p>Перед покупкой лидов Вы будете видеть: источник получения лидов, регион, детальное описание того, что хочет купить клиент, какие типы контактных данных оставил потенциальный клиент и стоимость лида.</p>
      <br>
      <hr>
      <br>
      <h1>Только "горячие" клиенты</h1>
      <br>
      <p>В нашей системе продаются только заинтересованные "горячие" клиенты, которые в данный момент интересуются покупкой Вашей услуги или товара.</p>
      <br>
      <hr>

      <br>
      <h1>Манибэк за некачественные лиды</h1>
      <br>
      <p>Мы быстро возвращаем деньги за "некачественные" лиды, если лид оказался таковым - Вам нужно просто нажать на кнопку и написать короткий комментарий, наш модератор проверит данный лид и деньги вернуться к Вам на баланс.</p>
      <br>
      <hr>

      <br>
      <h1>Источники получения лидов</h1>
      <br>
      <p>Мы ищем лиды при помощи различных источников: телефонный маркетинг, разные виды рассылок, поисковое продвижение, контекстную рекламу, с форм заявок сайтов партнеров.</p>
      <br>
      <hr>

      <br>
      <h1>Скорость поступления лидов</h1>
      <br>
      <p>Средняя скорость поступления лидов: 5-15 в день в зависимости от тематики и источников поиска. Но этот показательно может быть увеличен, в зависимости от Ваших потребностей.</p>
      <br>
      <hr>

      <br>
      <h1>Какие данные присутствуют в лидах?</h1>
      <br>
      <p>В лидах присутствуют следующие данные:</p>
      <div style="margin-left: 40px;">
        <li> Город потенциального клиента;</li>
        <li> Тематика бизнеса;</li>
        <li> Контактные данные потенциального покупателя;</li>
        <li> Подробное описание того, что хочет приобрести потенциальный клиент.</li>
      </div>
      <br>
      <hr>

      <br>
      <h1>Когда начнут появятся первые лиды?</h1>
      <br>
      <p>Первые лиды начнут появляется примерно в течении 1-2 дня после создания размещения и оплаты заказа. Но при необходимости мы можем более оперативно запустить Ваш заказ в работу.</p>
      <br>
      <hr>

      <br>
      <h1>Согласование заявки</h1>
      <br>
      <p>Перед тем как произвести оплату - обязательно дождитесь звонка или письма от нашего менеджера об успешном утверждении Вашего заказа в работу. В рабочее время это происходит за 10-30 минут.</p>
      <br>
      <hr>

      <br>
      <h1>Стоимость лидов</h1>
      <br>
      <p>Стоимость лидов согласовывается индивидуально с нашим менеджером, цена зависит от Ваших требований к лидам и источникам получения лидов. Например лиды, полученные с форм заявок сайтов стоят дороже чем лиды получение с рассылок.</p>
      <br>
      <hr>

      <br>
      <h1>С кем мы не работаем</h1>
      <br>
      <div style="margin-left: 40px;">
        <li>Тематики бизнеса лидов.</li>
        <li>Мы не работаем с интернет-магазинами и с товарной сферой. Наш сервис лидогенерации работает только с сегментом услуг.</li>
      </div>
      <br>
      <hr>

      <br>
      <h1>Схема работы</h1>
      <br>
      <p>Оформляете заявку через интерфейс (или через нашего менеджера), подробно описав Вашу услугу или товар (для составления нашими специалистами рекламного объявления).</p>
      <p>Наш менеджер изучает Вашу услугу или товар и дает подтверждение.</p>
      <p>Вы оплачиваете услугу.</p>
      <p>Мы начинаем собирать лиды и отправлять Вам.</p>
      <p>Вы просматриваете заявки потенциальных клиентов (лиды) в Вашей указанной почте, которые мы будем вам присылать - за каждую заявку будет списываться оплата.</p>
      <br>

      <hr>
      <br>
      <h1>Хотите детальнее обсудить вопросы лидогенерации по вашему проекту?</h1>
      <br>
      <div class="text-center">

        <a class="text-white btn btn-primary" style="padding-right: 75px; padding-left: 75px; padding-top: 20px; padding-bottom: 20px; font-size : 26px;" href="{% url 'create_application' %}">Бесплатная консультация</a>

      </div>

    </div>
  </div>
</div>

<div class="container">
  <h2>Сколько лидов вы получите в месяц?</h2>
  <p>Все зависит от ваших потребностей и возможностей отдела продаж. Практика показывает, что для среднестатического
    отдела продаж двукратное увеличение заявок и сделок не сильно сказывается на занятости и трудоспособности. Если
    будет больше — придется устанавливать входные фильтры либо нанимать сотрудников. Для интернет-магазинов —
    перестраивать логистику и работу коллцентра.</p>
  <p>Также, огромную роль играет длительность сделок. В крупных b2b-контрактах от проявления интереса до оплаты
    счета могут пройти месяцы.</p>
  <p>Мы используем наиболее эффективные инструменты интернет-маркетинга для получения нужного количества заявок.</p>
</div>



<br>
<br>
<br>
<br>

{% endblock%}
