{% extends 'applications/template.html' %}

{% block content %}

<p></p>
<br>
<br>

<div class="container">
    <h2>Что такое лид?</h2>
    <p>Лид — это заявка покупателя, заинтересованного вашими товарами или услугами. Заявки поступают на сайт,
      электронную почту, по телефону. Заявку важно быстро и качественно обработать. Свяжитесь с клиентом,
      обработайте запрос и заключите сделку. Сложно? — Да! От ваших продавцов и их личностных качеств зависит
      многое.</p>
    <h2>Схема лидогенерации</h2>
    <ul>
      <li>Мы изобразили процесс лидогенерации и продаж, а также ответственность заказчика и агентства на схеме.
        Конструктивный диалог — залог успеха.</p></li>
      <li><p>Мы с удовольствием поможем в достижении ваших стратегических целей.</p></li>
      <li><p>Привлечение лидов одна из задач контекстной рекламы.</p></li>
      <li><p>Контекстная реклама в поисковых системах позволяет быстро и просто найти потенциальных клиентов в
        интернете и привлечь аудиторию.</p></li>
    </ul>
</div>

<br>
<div class=" container">
  <div class="jumbotron">
    <div class="card-body">

    <h1>Быстрый рост потока заявок и заказов</h1>
    <br>
    <p>Средний срок запуска 1-2 рабочих дня и уже на 3-ий день после заключения договора вы начнете получать целевые
      заявки и звонки от своих клиентов, увеличивая свои продажи и прибыль.</p>
    <br>
    <hr>
    <br>
    <h1>Оплата только за целевые заявки и звонки клиентов</h1>
    <br>
    <p>Вы не платите за некорректные номера; за неподтвержденные заявки; за недозвоны. Оплата только за клиентов,
      заинтересованных в покупке вашего товара или услуги.</p>
    <br>
    <hr>
    <br>
    <h1>Хотите детальнее обсудить вопросы лидогенерации по вашему проекту?</h1>
    <br>
    <div class="text-center">

      <a class="text-white btn btn-primary" style="padding-right: 75px; padding-left: 75px; padding-top: 20px; padding-bottom: 20px; font-size : 26px;" href="{% url 'create_application' %}">Бесплатная консультация</a>

    </div>

  </div>
</div>
</div>

<div class="container">
    <h2>Сколько лидов вы получите в месяц?</h2>
    <p>Все зависит от ваших потребностей и возможностей отдела продаж. Практика показывает, что для среднестатического
      отдела продаж двукратное увеличение заявок и сделок не сильно сказывается на занятости и трудоспособности. Если
      будет больше — придется устанавливать входные фильтры либо нанимать сотрудников. Для интернет-магазинов —
      перестраивать логистику и работу коллцентра.</p>
    <p>Также, огромную роль играет длительность сделок. В крупных b2b-контрактах от проявления интереса до оплаты
      счета могут пройти месяцы.</p>
    <p>Мы  используем наиболее эффективные инструменты интернет-маркетинга для получения нужного количества заявок.</p>
</div>



<br>
<br>
<br>
<br>

{% endblock%}
