{% extends 'applications/template.html' %}

{% block content %}

<br>
<br>

<div class="container">
  <div class="jumbotron">
    <h3>СОГЛАШЕНИЕ ОБ ОБРАБОТКЕ ПЕРСОНАЛЬНЫХ ДАННЫХ</h3>
    <br>
    <p>Настоящее пользовательское соглашение является публичной офертой (то есть предложением заключить соглашение).
      Нажимая клавиши, которые подразумевают под собой отправку нам своих контактных данных, Вы считаетесь присоединившимся к нему.</p>
    <br>
    <br>
    <h3>СОГЛАШЕНИЕ ОБ ОБРАБОТКЕ ПЕРСОНАЛЬНЫХ ДАННЫХ</h3>
    <br>
    <p>Добрый день! Мы рады приветствовать Вас на нашем сайте! Предлагаем Вашему вниманию соглашение об обработке персональных данных.
      Внимание! По причинам экономического, организационного, а иногда и правового характера Соглашение периодически подвергается изменениям. У Администрации Сайта отсутствует возможность рассылать Пользователям уведомления о таких изменениях,
      поэтому настоятельно просим Вас периодически заходить на эту страницу, чтоб проверить, не появилось ли здесь чего-то, противоречащего Вашим убеждениям и принципам. Если Вы как Пользователь не согласны с внесенными изменениями, у Вас всегда есть
      право отказаться от доступа к Сайту и прекратить использование его материалов. Если Вы считаете, что Соглашение или действия нас как Администрации Сайта нарушает Ваши права, не молчите, напишите нам об этом по электронному адресу: <a
        href="#">ipartamonovamv@yandex.ru</a>
      Термины, применяемые в настоящем Соглашении:</p>
    <br>
    <p>1.1. Сайт – это совокупность текстов, графических элементов, дизайна, изображений, программного кода, фото- и видеоматериалов и иных результатов интеллектуальной деятельности, содержащихся в сети Интернет под доменным именем !!!!!</p>
    <p>1.2. Администрация Сайта – это лицо, обладающее правами администрирования Сайта.</p>
    <p>1.3. Пользователь – это любое лицо, осуществившее вход на Сайт и принявшее условия настоящего Соглашения, независимо от факта прохождения процедур регистрации и авторизации.</p>
    <br>
    <br>
    <h3>Использование персональных данных</h3>
    <br>
    <p>Цель обработки персональных данных: предоставление клиенту, подписчику индивидуализированных информационных услуг, в частности использование его данных для регистрации на Сайте, регистрация на мероприятия Сайта, рекламная цель, новостная
      e-mail рассылка. Обработке подлежат следующие персональные данные: Фамилия, имя, отчество Пользователя; Электронный адрес Пользователя; Номер телефона Пользователя.</p>
    <br>
    <p>2.1. Принимая условия настоящего соглашения, Пользователь предоставляет Администрации Сайта согласие на обработку своих персональных данных.</p>
    <p>2.2. Под обработкой персональных данных подразумевается следующий перечень действий с персональными данными: сбор запись систематизация накопление хранение уточнение (обновление, изменение) извлечение использование передачу (распространение,
      предоставление доступа) обезличивание блокирование удаление уничтожение персональных данных. </p>
    <p>2.3. Передача персональных данных третьим лицам: Компания обязуется не передавать Ваши персональные данные третьим лицам и обеспечивать их сохранность и конфиденциальность.</p>
    <p>2.4. Сроки обработки и хранения персональных данных: Данное согласие на обработку персональных данных действует бессрочно, но может быть отозвано субъектом персональных данных на основании личного заявления, направленного по электронной почте
      Администрации Сайта.</p>
    <p>2.5. Принимая условия настоящего соглашения, Пользователь соглашается с получением рекламной рассылки (в формате сообщений e-mail) по электронной почте.</p>
    <p>2.6. Администрация Сайта обязуется использовать персональные данные Пользователя, полученные в результате использования Сайта в соответствии с требованиями законодательства о защите персональных данных.</p>

  </div>
</div>

{% endblock %}
